*
{
    margin: 0;
    padding: 0;
}
.navbaar
{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: #ffe8e8;
    padding: 14px 0px

}
.navitems
{
    /* margin: 3px 8px; */
    padding: 2px 20px;
    font-size: 1.5em;
    font-weight: 700;
    transition: 0.5s all;
}
.navitems:hover
{
    transform: scale(1.07);
    
}
a:hover
{
    color: rgb(241, 101, 13);
}
a
{
    text-decoration: none;
    color: black;
    transition: 0.5s all;
}

li
{
    list-style: none;
}